@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG&display=swap');

.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    cursor: grab;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 0 8px;

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            max-width: 55%;

            h2 {
                margin-bottom: 15px;
                font-family: "Playwrite BE VLG", cursive;
                color: #FFC02D;
                font-size: 30px;
            }
        }

        .image {
            img {
                width: 400px;
                height: auto;
                object-fit: contain;
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        .card {
            .image {
                img {
                    width: 350px;
                }
            }

            .content {
                h2 {
                    font-size: 27px;
                }
            }
        }
    }

    @media only screen and (max-width: 800px) {
        .card {
            .image {
                img {
                    width: 320px;
                }
            }

            .content {
                max-width: 50%;

                h2 {
                    font-size: 27px;
                }
            }
        }
    }

    @media only screen and (max-width: 730px) {
        .card {
            flex-direction: column-reverse;
            padding: 20px 0;

            .image {
                margin-bottom: 12px;

                img {
                    width: 260px;
                }
            }

            .content {
                max-width: 100%;

                h2 {
                    font-size: 25px;
                }
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .card {
            padding: 15px 0;

            .image {
                img {
                    width: 220px;
                }
            }

            .content {

                h2 {
                    font-size: 22px;
                }

                .desc {
                    font-size: 14px;
                }
            }
        }
    }

    @media only screen and (max-width: 425px) {
        .card {

            .image {
                img {
                    width: 200px;
                }
            }

            .content {

                h2 {
                    font-size: 20px;
                }

                .desc {
                    font-size: 14px;
                }
            }
        }
    }
}