@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

.container {
  max-width: 1300px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;

  @media only screen and (max-width: 625px) {
    .aboutText {
      p {
        font-size: 14px;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .logo {
      h1 {
        font-size: 45px;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .downloadApp {
      padding: 15px 10px 80px 10px;

      .playmarket {
        width: 100%;
      }
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f6fa;
}