#homePage {
    #section1 {
        margin: 30px 0;

        .container {
            background-color: #fff;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 15px;
            padding: 18px 35px;
        }

        @media only screen and (max-width: 800px) {
            .container {
                .description {
                    .logo {
                        h3 {
                            font-size: 50px;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 700px) {
            .container {
                .description {
                    p {
                        font-size: 15px;
                        padding: 0 15px;
                    }
                }
            }
        }
    }

    #section2 {
        padding: 50px 15px;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                width: 48%;

                h2 {
                    color: #FFC02D;
                    margin-bottom: 15px;
                    font-weight: 500;
                }

                h1 {
                    font-size: 60px;
                    color: rgba(0, 0, 0, 0.647);
                    margin-bottom: 10px;
                }

                p {
                    margin: 10px 0;
                    color: rgba(0, 0, 0, 0.647);
                    font-size: 15px;
                }

                .services {
                    display: flex;
                    align-items: center;
                    gap: 40px;

                    .left,
                    .right {
                        div {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-weight: 600;

                            .checkIcon {
                                color: #FFC02D;
                            }
                        }
                    }
                }
            }

            .rightContainer {
                width: 48%;

                img {
                    transition: transform 0.5s;
                    width: 100%;
                    height: auto;
                    border: 8px solid #fff;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    border-radius: 10px;

                    &.altImage {
                        margin-top: -15%;
                        margin-left: 40%;
                        width: 65%;
                    }
                }
            }
        }

        @media only screen and (max-width: 1300px) {
            .container {
                .rightContainer {
                    img {
                        width: 90%;

                        &.altImage {
                            margin-left: 37%;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 1100px) {
            .container {
                .rightContainer {
                    img {
                        width: 80%;

                        &.altImage {
                            margin-left: 30%;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 950px) {
            .container {
                .left {
                    h1 {
                        font-size: 45px;
                    }
                }
            }
        }

        @media only screen and (max-width: 800px) {
            .container {
                flex-direction: column;

                .left,
                .rightContainer {
                    width: 100%;
                }

                .left {
                    margin-bottom: 20px;

                    .services {
                        justify-content: space-around;
                        gap: 0;
                        align-items: baseline;

                        .left {
                            width: fit-content;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 520px) {
            .container {

                .left {

                    h1 {
                        font-size: 40px;
                    }
                }
            }
        }

        @media only screen and (max-width: 520px) {
            .container {

                .left {

                    .services {
                        flex-direction: column;
                        gap: 0px;
                    }
                }
            }
        }
    }
}