#homePage {
    #section1 {
        margin: 30px 0;

        @media only screen and (max-width: 1330px) {
            margin: 20px 15px;
        }

        .container {
            background-color: #fff;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 15px;
            padding: 18px 35px;

            @media only screen and (max-width: 1000px) {
                padding: 18px 15px;
            }
        }
    }

    #section3 {
        margin: 30px 0;

        @media only screen and (max-width: 1330px) {
            margin: 20px 15px;
        }

        .container {
            padding: 18px 35px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            .left {
                width: 40%;

                span {
                    color: #FFC02D;
                }
            }

            .right {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: end;
                gap: 20px;

                div {
                    width: 280px;
                    padding: 15px;

                    p {
                        font-size: 17px;
                        color: rgb(83, 80, 80);

                        &:nth-child(1) {
                            font-weight: 600;
                            font-size: 20px;
                            color: black;
                        }
                    }
                }
            }

            @media only screen and (max-width: 1145px) {
                .left {
                    width: 60%;
                }
            }

            @media only screen and (max-width: 1000px) {
                .left {
                    width: 70%;

                    h2 {
                        font-size: 22px;
                    }
                }

                .right {
                    div {
                        width: 250px;

                        p {
                            &:nth-child(1) {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width: 910px) {
                .right {
                    div {
                        width: 200px;
                        justify-content: start;

                        p {
                            &:nth-child(1) {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width: 800px) {
                flex-direction: column;
                padding: 18px 15px;

                .left {
                    width: 100%;
                }

                .right {
                    margin-top: 30px;

                    div {
                        flex-direction: column;
                        width: 100%;

                        p {
                            font-size: 20px;

                            &:nth-child(1) {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width: 500px) {
                .left {
                    width: 100%;

                    h2 {
                        font-size: 20px;
                    }
                }

                .right {
                    div {
                        p {
                            font-size: 18px;

                            &:nth-child(1) {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    #business {
        @media only screen and (max-width: 1330px) {
            margin: 20px 15px;
        }

        .container {

            .headText {
                margin-top: 40px;

                h2 {
                    font-size: 40px;
                }

                span {
                    color: #FFC02D;
                }

                @media only screen and (max-width: 1000px) {
                    h2 {
                        font-size: 38px;
                    }
                }

                @media only screen and (max-width: 700px) {
                    h2 {
                        font-size: 35px;
                    }
                }

                @media only screen and (max-width: 500px) {
                    h2 {
                        font-size: 32px;
                    }
                }
            }

            .cards {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 20px;
                margin-bottom: 50px;

                .card {
                    background-color: #ffffff;
                    border-radius: 20px;
                    padding: 20px;
                    width: calc((100% / 4) - 8px);
                    min-width: 280px;
                    cursor: pointer;
                    transition: all 0.5s;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    &:hover {
                        background-color: #dfdfdf;

                        .icon {
                            img {
                                scale: 1.1;
                            }
                        }

                        .nameAndIcon {
                            .headerIcon {
                                background-color: #FFC02D;

                                .icon1 {
                                    color: black;
                                }
                            }
                        }
                    }

                    .nameAndIcon {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-weight: 600;

                        .headerIcon {
                            background-color: #dfdfdf;
                            width: 30px;
                            height: 30px;
                            padding: 5px;
                            text-align: center;
                            border-radius: 50%;
                            transition: all 0.5s;

                            .icon1 {
                                color: grey;
                                transition: all 0.5s;
                            }
                        }
                    }

                    .desc {
                        p {
                            color: grey;
                            font-size: 14px;
                        }
                    }

                    .icon {
                        margin: 35px 0 20px 0;
                        text-align: center;

                        img {
                            width: 150px;
                            height: 150px;
                            object-fit: contain;
                            transition: all 0.5s;
                        }
                    }
                }

                @media only screen and (max-width: 1180px) {
                    .card {
                        width: calc((100% / 3) - 8px);
                    }
                }

                @media only screen and (max-width: 890px) {
                    .card {
                        width: calc((100% / 2) - 5px);
                    }
                }

                @media only screen and (max-width: 600px) {
                    .card {
                        width: 100%;
                    }
                }
            }
        }
    }

    #section4 {
        margin: 30px 0;

        @media only screen and (max-width: 1330px) {
            margin: 20px 15px;
        }

        .container {
            padding: 30px 35px;
            background-color: #fff;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 15px;

            h3 {
                font-size: 30px;
            }

            @media only screen and (max-width: 800px) {
                padding: 18px 15px;
            }

            @media only screen and (max-width: 700px) {
                h3 {
                    font-size: 28px;
                }
            }

            @media only screen and (max-width: 500px) {
                h3 {
                    font-size: 25px;
                }
            }
        }
    }
}