footer {
    padding: 50px 15px 30px 15px;

    .container {
        padding: 30px 35px;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 15px;

        @media only screen and (max-width: 800px) {
            padding: 30px 18px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                h2 {
                    font-size: 22px;
                }
            }

            .socialMedia {
                display: flex;
                align-items: center;
                gap: 12px;

                div {
                    padding: 5px;
                    background-color: #f4f6fa;
                    border-radius: 50%;
                    transition: all 0.5s;
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    padding: 10px;

                    .icon {
                        color: rgb(81, 80, 80);
                        transition: all 0.5s;
                        width: 20px;
                        height: 20px;
                    }

                    &:hover {
                        background-color: #FFC02D;

                        .icon {
                            color: black;
                        }
                    }
                }
            }
        }

        .contactInfo {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin: 35px 0 20px 0;

            a {
                background-color: #f4f6fa;
                width: fit-content;
                padding: 20px 30px;
                border-radius: 15px;
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
                gap: 20px;

                &.tel {
                    width: 28%;
                }

                &.mail {
                    width: 28%;
                }

                &.location {
                    width: 40%;
                }

                .icon {
                    font-size: 30px;
                }

                div {

                    p {
                        color: grey;
                        margin-bottom: 5px;

                        &.bold {
                            color: black;
                            font-size: 16px;
                            font-weight: 600;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
            margin-top: 40px;
            justify-content: space-between;

            .left,
            .right {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 40%;
            }

            .category {
                .headText {
                    p {
                        font-weight: 600;
                    }
                }

                .links {
                    a {
                        display: block;
                        margin-top: 15px;
                        text-decoration: none;
                        color: black;
                        transition: all 0.5s;

                        &:hover {
                            color: #FFC02D;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 1150px) {
            .contactInfo {
                a {
                    padding: 10px 30px;
                }
            }
        }

        @media only screen and (max-width: 950px) {
            .contactInfo {
                flex-direction: column;
                gap: 20px;

                a {
                    padding: 15px 30px;

                    &.tel {
                        width: 100%;
                    }

                    &.mail {
                        width: 100%;
                    }

                    &.location {
                        width: 100%;
                    }
                }
            }

            nav {
                flex-direction: column;

                .left,
                .right {
                    width: 100%;
                    justify-content: space-around;
                }

                .right {
                    margin-top: 40px;

                    .category {
                        width: 130px;
                    }
                }
            }
        }

        @media only screen and (max-width: 600px) {
            .header {
                flex-direction: column;

                .logo {
                    margin-bottom: 20px;
                }
            }

            .contactInfo {

                a {
                    padding: 20px;
                }

                &.location {
                    width: 40%;

                    .icon {
                        font-size: 60px !important;
                    }
                }
            }
        }

        @media only screen and (max-width: 450px) {
            nav {

                .left,
                .right {
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    text-align: center;
                }

                .right {
                    margin-top: 20px;
                }
            }
        }
    }
}